{% extends 'monApp/base.html' %}

{% block menu %}
<h1>Liste des rayons</h1>
{% endblock %}

{% block contenu %}
    <h2>{{titremenu}}</h2>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Nom Rayon</th>
        </thead>
        <tbody>
            {% for ray in rayons %}
            <tr>
                <td>{{ ray.idRayon }} </td>
                <td>{{ ray.nomRayon }} </td>
                <td><a href="{% url 'dtl_rayon' ray.idRayon %}">{{ ray.idRayon }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
    J'ai
    {% if prdts|length < 5 %}
    peu de
    {% elif prdts|length < 10 %}
    quelques
    {% else %}
    beaucoup de
    {% endif %}
    rayons préférés.
    </p>
    <p><a href="{% url 'crt-rayon' %}">Créer un nouveau rayon</a></p>
{% endblock %}