{% extends 'monApp/base.html' %}

{% block menu %}
<h1>Liste des statuts</h1>
{% endblock %}

{% block contenu %}
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Nom status</th>
        </thead>
        <tbody>
            {% for stat in statuts %}
            <tr>
                <td>{{ stat.idStatut }} </td>
                <td>{{ stat.libelleStatut }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
    J'ai
    {% if prdts|length < 5 %}
    peu de
    {% elif prdts|length < 10 %}
    quelques
    {% else %}
    beaucoup de
    {% endif %}
    status préférés.
    </p>
{% endblock %}